beanie==1.30.0
fastapi==0.115.13
fastapi_mail==1.5.0
insightface==0.7.3
motor==3.7.1
numpy==2.3.0
opencv_python==4.11.0.86
opencv_python_headless==4.11.0.86
passlib==1.7.4
pydantic==2.11.7
pydantic_settings==2.9.1
pymongo==4.13.2
python_jose==3.3.0
